<mat-toolbar color="primary" class="toolbar-background" [class.change-font]="changeFont">
    <span>Listagem de Filmes</span>
    <div fxShow="true" fxHide.xs>
      <!-- Os botões desaparecerão em tamanho menor de tela -->
      <button mat-raised-button (click)="notifyTheme();" role="button" aria-label="Mudar alto contraste">
        <i class="material-icons">brightness_4</i>
      </button>
      <button mat-raised-button (click)="notifyFont(true);" aria-label="Aumentar fonte">
        <i class="material-icons">text_fields</i>
      </button>
      <button mat-raised-button (click)="notifyFont(false);" aria-label="Reduzir fonte">
        <i class="material-icons">format_size</i>
      </button>
    </div>
    <!--Botão aparecerá ao atingir tamanho menor de tela -->
    <button mat-mini-fab [matMenuTriggerFor]="menu" fxShow="true" fxHide.gt-xs>
      <i class="material-icons">menu</i>
    </button>
    <!-- Menu responsivo -->
    <mat-menu #menu="matMenu" color="primary">
      <button mat-menu-item (click)="notifyTheme();" role="button" aria-label="Mudar alto contraste">
        <i class="material-icons">brightness_4</i>
      </button>
      <button mat-menu-item (click)="notifyFont(true);" aria-label="Aumentar fonte">
        <i class="material-icons">text_fields</i>
      </button>
      <button mat-menu-item (click)="notifyFont(false);" aria-label="Reduzir fonte">
        <i class="material-icons">format_size</i>
      </button>
    </mat-menu>
</mat-toolbar>