<mat-toolbar color="primary" class="toolbar-background" [class.change-font]="changeFont" role="heading">
    <span>Listagem de Filmes</span>
    <span class="space"></span>
    <div fxShow="true" fxHide.xs>
      <!-- Os botões desaparecerão em tamanho menor de tela -->
      <button mat-raised-button (click)="notifyTheme();" role="button" aria-label="Mudar alto contraste">
        <i class="material-icons">brightness_4</i>
      </button>
      <button mat-raised-button (click)="notifyFont(true);" aria-label="Aumentar fonte">
        <i class="material-icons material-icons-i">A+</i>
      </button>
      <button mat-raised-button (click)="notifyFont(false);" aria-label="Reduzir fonte">
        <i class="material-icons material-icons-i">A-</i>
      </button>
    </div>
    <!--Botão aparecerá ao atingir tamanho menor de tela -->
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="fixed" fxShow="true" fxHide.gt-xs role="button" aria-label="Configurações Menu" tabindex="0">
      <i class="material-icons" aria-labelledby="Configurações Menu">settings</i>
    </button>
    <!-- Menu responsivo -->
    <mat-menu #menu="matMenu" overlapTrigger="true" color="primary">
      <button mat-menu-item (click)="notifyTheme();" role="button" aria-label="Mudar alto contraste botão">
        <i class="material-icons">brightness_4</i>
        Mudar constraste
      </button>
      <button mat-menu-item (click)="notifyFont(true);" aria-label="Aumentar fonte botão">
        <i class="material-icons material-icons-i">A+</i>
        Aumentar Fonte
      </button>
      <button mat-menu-item (click)="notifyFont(false);" aria-label="Reduzir fonte botão">
        <i class="material-icons material-icons-i">A-</i>
        Reduzir Fonte
      </button>
    </mat-menu>
</mat-toolbar>