<!-- Aqui vai entrar o header -->
<div [class.high-contrast-theme]="highContrastTheme" color="accent">
    <!-- CABEÇALHO -->
    <app-header
        (sendChangeTheme)="changeTheme();"
        (sendChangeFont)="changeFontSize($event);"
    >
    </app-header>
    <!-- COMPONENTES DE INTERAÇÃO -->
    <div fxLayout="row" fxLayoutAlign="space-evenly">
        <seletor-genero (changeGener)="changeGener($event);"></seletor-genero>
        <buscar-filme (changeFind)="changeFind($event)"></buscar-filme>
    </div>
    <!-- LISTAGEM DOS FILMES -->
    <div *ngIf="movies; else loading">
        <mat-grid-list [cols]="larguraAtual" rowHeight="300px" color="warn" fxLayoutalign="center">
            <mat-grid-tile *ngFor= "let m of movies | paginate: { itemsPerPage: 20, currentPage : genreResult.page, totalItems: 1000 }" >
                <mat-card class="larguraFixa" (click)="openDialog(m.id);">
                    <img mat-card-lg-image src="{{base_image_url+image_size+m.poster_path}}" alt="Pôster do filme {{m.original_title}}"/>
                    <mat-card-title  class="mat-h5" [class.change-font]="changeFont">{{m.original_title}}</mat-card-title>
                    <mat-card-subtitle>{{m.release_date}}</mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- PAGINAÇÃO -->
        <div *ngIf="genreResult.total_pages" fxLayout="row" fxLayoutAlign="center center">
            <pagination-controls class="seletor" [class.change-font]="changeFont"
                (pageChange)="page = $event; nextPage();"
                responsive="true"
                previousLabel="Anterior"
                nextLabel="Próximo"
                screenReaderPaginationLabel="Paginação"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="Você esta na página {{ currentPage }}"
            >
            </pagination-controls>
        </div>
    </div>
    <ng-template #loading>
        <h5>Carregando lista de filmes...</h5>
    </ng-template>
</div>



