/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '~@angular/material/theming';
@include mat-core();

// Tema com alto contraste
.high-contrast-theme {
  color: $light-primary-text;
  h1 {
    color: white;
    font-weight: 500;
    box-shadow: none;
  }
  background-color: black;
  .seletor {
    background-color: #FFFF00;
    border-radius: 10px;
    
  }
  mat-card{
    border: 2px solid #FFFF00;
  }
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.mat-h5{
  font-size: 1.2em;
}
// Centralizar conteúdo no dialog
.mat-dialog-container {
  text-align: center;
  border-radius: 10px;
}

// Configurações ao mudar tamanho da fonte
.change-font{
  font-size: 1.8em;

  h1 {
    font-size: 1.4em;
  }

  .seletor {
    font-size: 1.6em;
    color: white;
  }

  .mat-dialog-container{
    font-size: 2em;
    
  }
}


// Configurações ao mudar para alto contraste no dialog
.dialog-contrast {
  .mat-dialog-container{
    background: black;
    color: white;
    border: 2px solid #FFFF00;
  }
  .mat-dialog-title{
    margin: none;
    padding: 20px;
    border: 2px solid #FFFF00;
    border-radius: 10px;
  }
  .mat-select-content{
    .mat-select-option {
      background-color: pink !important; 
    }
  }   
}

    