/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.seletor[_ngcontent-kkh-c1] {
  margin-bottom: 20px;
}
ul.ngx-pagination.responsive.ng-star-inserted {
  margin: 0px;
  padding: 10px;
}



@import '~@angular/material/theming';
@include mat-core();




// Tema com alto contraste
.high-contrast-theme {
  color: $light-primary-text;
  background-color: black;
  padding-bottom:20px;

  @media screen and (max-width: 601px){
    .ngx-pagination.responsive .small-screen {
      display: inline-block;
      color: black;
    }
  }

  .seletor {
    background-color: #FFFF00;
    border-radius: 10px;
    
  }
  mat-card{
    border: 2px solid #FFFF00;
  }
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include angular-material-theme($dark-theme);
}

.mat-h5{
  font-size: 1.2em;
}
// Centralizar conteúdo no dialog
.mat-dialog-container {
  text-align: center;
  border-radius: 10px;
}

// Configurações ao mudar tamanho da fonte
.change-font{

  .ngx-pagination {
    font-size: 30px;
  }
  .seletor{
    font-size: 0.8em;
  }

  font-size: 1.7em;

  h1 {
    font-size: 1.4em;
  }
  .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: none;
    border-radius: 10px;
  }
  
  ul.ngx-pagination.responsive.ng-star-inserted {
    padding-inline-start: 0px;
    font-size: 20px;
  }
  .mat-dialog-container{
    font-size: 2em;
  }

  .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    content: ">>";
    display: inline-block;
    margin-left: 0.5rem;
  }

  .ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    content: "<<";
    display: inline-block;
    margin-right: 0.5rem;
  } 
}
// Configurações ao mudar para alto contraste no dialog
.dialog-contrast {
  .mat-dialog-container{
    background: black;
    color: white;
    border: 2px solid #FFFF00;
  }
  .mat-dialog-title{
    margin: none;
    padding: 20px;
    border: 2px solid #FFFF00;
    border-radius: 10px;
  } 

  pagination-controls{
    ul {
      list-style: none;
    }
  }
  
  .pagination>.active>a{
    background-color:blue;
    border-radius: 20px;
  }

  .ngx-pagination {
    margin-left: 0;
    list-style: none;
    margin: 10px;
    padding: 5px;
  } 
}